{%include 'base/err.html'%}
{%block content%}
{%if page == 'login'%}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name="username"/>
        <label>Password:</label>
        <input type="password" name="password"/>
        <input type="submit" value="submit"/>
    </form>
    <p>havent signedup yet</p>
    <a href="{%url 'register'%}">sign up</a>
</div>
{%else%}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="submit">
        </form>
        
    </form>
    <p>have an account?</p>
    <a href="{%url 'login_reg'%}">sign in</a>
</div>
{%endif%}
{%endblock content%}