<html>
    <body>
        {%for mark in marks%}
        {%if request.user.username == mark.student_id%}
        year {{mark.subjects.detail.year}}<br>
        semester{{mark.subjects.detail.semester}}
        <table>
            <tr>
                <th>Subject name</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>{{mark.subjects.s1}}</td>
                <td>{{mark.subjects.s2}}</td>
            </tr>
            <tr>
                <td>{{mark.m1}}</td>
                <td>{{mark.m2}}</td>
            </tr>
        </table>  
        {%endif%}
        {% endfor %}
    </body>
</html>