{%include 'base/err.html'%}
<br>
{%block content%}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{%static 'styles/student.css'%}" media="screen"/>
    </head>
    <body>
        {%for mark in marks%}
        {%if request.user.username == mark.student_id%}
        <div class="container">
            <div class="card">
              <div class="card-header">
                YEAR {{mark.subjects.detail.year}} SEMESTER {{mark.subjects.detail.semester}}
              </div>
              <div class="card-body">
                <div class="result-item">
                  <div class="subject-card">
                    <div class="subject">{{mark.subjects.s1}}</div>
                    <div class="grade">{{mark.m1}}</div>
                  </div>
                </div>
                <div class="result-item">
                  <div class="subject-card">
                    <div class="subject">{{mark.subjects.s2}}</div>
                    <div class="grade">{{mark.m2}}</div>
                  </div>
                </div>
                <div class="result-item">
                  <div class="subject-card">
                    <div class="subject">OS</div>
                    <div class="grade">A-</div>
                  </div>
                </div>
        
                <div class="result-item">
                  <div class="subject-card">
                    <div class="subject">ADS</div>
                    <div class="grade">A-</div>
                  </div>
                </div>
        
                <div class="result-item">
                  <div class="subject-card">
                    <div class="subject">Mathematics 2</div>
                    <div class="grade">A-</div>
                  </div>
                </div>
                <!-- Add more result items for other subjects -->
              </div>
            </div>
          </div>
    
        {%endif%}
        {% endfor %}
    </body>
</html>
{%endblock content%}